/* MODIFICHE MEDIAQUERY */

@media screen and (max-width: 419px) {
  .row {
    width: 100%;
  }

  #lezioni .row > .left,
  #lezioni .row > .right,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right,
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    padding-bottom: 5%;
  }

  #lezioni .right img {
  height: 50%;
  width: 65%;
  }

  img {
  height: 90%;
  width: 50%;
  }

  h1 {
   font-size: 35px;
   padding-top: 5%;
  }

  hr {
    margin: 5% 5%;
  }

}
